@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* Nav bar stylesheet */

:root {
  --clr-blue-background: #94bfd0;
  --clr-white-background: #ffffff;
  --clr-box-shadow: rgba(0,0,0,0.2);
  --clr-button-hover: #698cdd;
}

main {
  margin-bottom: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: palegoldenrod;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    z-index: 100;
    gap: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.menu-btn {
  background: rgb(120, 120, 195);
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.menu-btn:hover {
  background: rgba(56, 56, 235, 0.816);
  margin-left: 1rem;
  transform: scale(1.1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-content {
  background: rgba(206, 139, 150, 0.651);
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  height: 30vh;
  max-width: 400px;
  text-align: center;
}

.yes-no-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px
}

#quit-session-btn, #stay-session-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
}

#quit-session-btn {
  background-color: rgb(235, 121, 121);;
}

#stay-session-btn {
  background-color: rgb(118, 215, 118);
}

#quit-session-btn:hover {
  background-color: rgb(235, 79, 79);
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#stay-session-btn:hover {
  background-color: rgb(94, 214, 94);
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
