* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1400px;
    box-shadow: #cfc0c0;
    padding: 30px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    gap: 30px;
    min-height: 70vh;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    grid-template-columns: 25% 1fr;
}

h1 {
    color: rgb(199, 61, 61);
    font-size: 3rem;
    text-shadow: 2px 2px 4px #b2adad;
    margin: 0;
    text-align: right;
    grid-column: 2; 
    grid-row: 1;
}

.page-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.center-container {
    position: fix;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
    background: rgba(3, 3, 14, 0.2);
    padding: 20px;
    width: 100%; 
    max-width: 50vw;
    height: 70vh;
}

.input-section {
    background: rgb(72, 93, 72);
    padding: 15px;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 1/3;
    height: 93%;
    border: none;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

#register-btn {
    background-color: #a7f5a3;
    color: #524c4c;
    border-radius: 10px;
    width: 100%;
    height: 8vh;
    border: none;
    font-size: 20px;
}

#register-btn:hover {
    background-color: rgb(107, 235, 91);
    color: #000000;
    transform: scale(1.05);
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#register-success-popup-content {
    background: rgba(251, 176, 176, 0.07);
    position: fixed;
    top: 20px;
    left: 50%;
    height: 100px;
    transform: translateX(-50%);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    animation: slideDown 0.4s ease;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; 
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(2px);
  z-index: 1000;
}

#popup-message {
    background: rgb(48, 225, 48);
    padding: 10px;
    border-radius: 10px;
    color:#000000;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
    font-size: 1.1rem;
} 

select, input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

select:focus, input:focus {
    outline: none;
    border-color: #b2adad;
}

#load-barbell-btn {
    width: 100%;
    height: 20%;
    background: #66dc9b;
    color: #efefef;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
}

#load-barbell-btn:hover{
    transform: translateY(-2px);
    background: #47dc63;
    transform: scale(1.05);
    color: #111010;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#participants-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.2rem;
    column-gap: 1rem;
}

.participant-box {
    background-color: rgba(201, 203, 234, 0.579);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.participant-box:hover {
    background-color: rgba(109, 136, 236, 0.499);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transform: scale(1.05);
}

.participant-name{
    color: black;
}

.participant-gender, .participant-category {
    color: gray;
    font-size: 12px;
}

.error {
    color: #d22b2b;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d1c7c7;
    border-radius: 8px;
} 

.barbell-display {
    padding: 25px;
    color: #cfc0c0;
    background: rgb(10, 15, 2);
    border-radius: 8px;
    grid-column: 2;
    grid-row: 2;
    font-size: 150%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.barbell-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    padding: 20px;
    background: #574646;
    border-radius: 8px;
    box-shadow: inset 0 3px 10px rgba(0,0,0,0.1);
    min-height: 200px;
    position: relative;
    flex: 1;
    overflow-x: auto;
}

.barbell-assembly {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.equipment {
    display: flex;
    align-items: center;
    position: center;
    flex-shrink: 0;
}

.clip {
    width: 15px;
    height: 60px;
    background: #b2adad;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d1c7c7;
    font-size: 9px;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    border: 2px solid #999;
    z-index: 1;
}

.bar {
    color: #000000;
    height: 15px;
    width: 300px;
    background: #b2adad;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    border: 2px solid #999;
}


.bar-section {
    height: 30px;
    background: #9b9292;
    position: relative;
}

.equipment:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px #000000; 
}

.red-plate {
    background: #d22b2b;
    width: 30px;
    height: 130px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
    justify-content: center;
    align-items: center;
}

.blue-plate {
    background: #2e1fcc;
    width: 30px;
    height: 130px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
}

.yellow-plate {
    background: #bfe436;
    width: 20px;
    height: 130px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
    justify-content: center;
    align-items: center;
}

.green-plate {
    background: #2bd239;
    width: 15px;
    height: 130px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
}

.white-plate {
    background: #f6f4f4;
    width: 15px;
    height: 130px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
}

.small-red-plate {
    background: #d22b2b;
    width: 10px;
    height: 85px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
}

.small-blue-plate {
    background: #2e1fcc;;
    width: 10px;
    height: 80px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
}

.small-yellow-plate {
    background: #bfe436;;
    width: 10px;
    height: 75px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
}


.small-white-plate {
    background: #f7f8f6;;
    width: 10px;
    height: 70px;
    font-size: 16px;
    margin: 0.5px;
    border: 2px solid #999;
}

.weight-info {
    background: #e2d7d7;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0 3px 10px rgba(52,152,219,0.3);
    flex-shrink: 0;
}

.weight-info:hover {
    color: #e2d7d7;
    background: #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#popupeditparticipant {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#popupeditparticipant-content {
  background: rgb(161, 167, 210);
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  height: auto;
  max-width: 400px;
  text-align: center;
}

.save-discard-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px
  
}

#discard-btn, #save-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
}

#discard-btn {
  background-color: rgb(235, 121, 121);;
}

#save-btn {
  background-color: rgb(118, 215, 118);
}

#discard-btn:hover {
  background-color: rgb(235, 79, 79);
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#save-btn:hover {
  background-color: rgb(94, 214, 94);
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

/* media comeback later */